  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


  body {
      background-color: #24252a;
  }

  img {
      width: 150px;
      margin: 10px;
      transition: 0.3s ease-in-out;
  }

  img:hover {

      width: 180px;
      transition: 0.3s ease-in-out;

  }

  .menu1 {
      background-color: darkred;
      width: 100%;
      height: 100px;

  }


  .menu2 {
      background-color: darkred;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      padding: 0;
  }

  h1 {
      align-items: center;
      text-align: center;
      color: white;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      margin: 0 auto;
      padding: 0;
      position: relative;
  }

  .home::after {
      content: " ";
      width: 0%;
      height: 4px;
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease 0s;

  }

  .home:hover::after {
      width: 100%;

  }


  p {
      margin-top: 15px;
      color: white;
      font-family: 'Poppins', sans-serif;

  }

  iframe {
    
      width: 800px;
      background-position: center;
      height: 400px;
      transition: 0.2s;
      margin-left: 520px;
      margin-top: 100px ;
  }

  iframe:hover {

      width: 850px;
      height: 450px;
      transition: 0.2s;
  }




  h4 {
      color: white;
  }

  .voltar {
      color: white;
      font-family: 'Poppins', sans-serif;
      transition: 0.2s;

  }

  .voltar:hover {

      color: rgb(122, 1, 1);
      transition: 0.2s;

  }

  .resumo {
      text-decoration: overline;
      color: white;


  }



  span:hover {
      color: darkred;
      transition: 0.2s;
  }