@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&family=Poppins:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300&display=swap');



html {
    font-family: 'Poppins', sans-serif;
   

}

.container {

    display: flex;
    flex-direction: row;
}

.container-esquerda {
    height: 700px;
    width: 50%;
    border: 1px black solid;

   
}


.titulo {
    margin-left: 60px;
}

.texto-titulo {
    color: #777575;
    font-size: 13px;
    margin-top: -20px;
  

}

.login {

    margin-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 10px;
}

label {
    color: black;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}


 .login input {
    border: 1px solid black;
    border-radius: 50px;
    height: 30px;
    width: 300px;
    padding-left: 15px;

}




.input-senha,
.input-email {
    position: absolute;
}



.label-senha,
.label-email {

    position: relative;
    bottom: 7px;
    left: 20px;

}

.checkbox {
    
    margin-left: 60px;
    /*border: 1px solid black;*/
    font-size: 14px;
    width: 200px;
    margin-top: 50px;
    display: flex;
    
    
}

